@import 'vars';
@import 'typography';

.inline-content {
  flex-direction: row;
}

.dataView {
  max-width: 50%;
  max-height: 66vh;
}

#canvas {
  background: url('http://stats.nba.com/media/img/halfcourt.svg') no-repeat;
  max-height: 66vh;
  min-height: 60vh;
  min-width: 33vw;
}

#gfPos {
  position: relative;
  top: 30vh;
}

#gPos {
  position: relative;
  top: 25vh;
  left: 10vw;
}

#cPos {
  position: relative;
  top: 15vh;
  left: 7vw;
}

#fPos {
  position: relative;
  top: 5vh;
  left: 7vw;
}

#cfPos {
  position: relative;
  top: 9vh;
  right: 10vw;
}

a {
  text-decoration: none;
  color: red;
}

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--light;
  background-color: $background--dark;
  padding: $half-space;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    .imgRow {
      @extend .inline-content;
      padding-top: 2%;
    }
  }
  input, select {
    background-color: $background--dark;
    border-width: 1px;
    border-radius: 0.75vh;
    color: $font-color--light;
    font-size: large;
    padding-left: 1%;
    outline: none;
  }
  span, strong {
    white-space: nowrap;
  }
  table {
    padding-top: 5%;
    tbody {
      th, td {
        min-width: 6vw;
        text-align: center;
      }
      max-height: 66%;
      min-width: 20vw;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-content: center;
    }
  }
}

.badge {
  color: $font-color--dark;
  font-size: $font-size--sm;
  font-weight: 900;
  text-align: center;
  padding: 10%;
  max-height: 1vh; max-width: 1vh;
  border-radius: 100%;
  background-color: cornflowerblue;
  white-space: nowrap;
}

.filter-options {
  align-items: flex-start !important;
  padding: 5% 0;
}

.heading {
  color: sandybrown;
  font-size: xx-large;
  font-weight: 300;
  font-family: "Roboto Mono", Menlo, monospace;
  padding-bottom: 2%;
}

.motto {
  color: darkolivegreen;
  font-size: $font-size--sm;
  font-weight: 100 !important;
  line-height: 0;
}
