@import 'vars';
@import 'typography';

html, body {
  max-width: 99vw !important;
}

#canvas {
  background: url('http://stats.nba.com/media/img/halfcourt.svg') no-repeat;
  background-size: contain;
  min-height: 50vh;
  min-width: 25vw;
  div {
    align-items: center;
    position: relative;
    img {
      max-width: 5vw; max-height: 4vw;
    }
    a {
      color: darkorange;
      font-weight: 700;
      white-space: nowrap;
    }
  }
  #fPos, #cfPos {
    right: 33%;
  }
  #cPos, #gPos {
    left: 20%;
  }
  #gfPos {
    right: 5%;
  }
}

#verTable {
  max-height: 40vh;
}

a {
  text-decoration: none;
  color: red;
}

body {
  padding-top: 100px;
  font-family: $google;
  -webkit-font-smoothing: antialiased !important;
  color: $font-color--light;
  background-color: $background--dark;
  .badge {
    background-color: cornflowerblue;
    color: $font-color--dark;
  }
  div {
    padding-bottom: 2%;
  }
  .form-control, select {
    background-color: $background--dark;
    border-width: 1px;
    border-radius: 0.75vh;
    color: $font-color--light;
    font-size: large;
    outline: none;
  }
  table {
    border: none !important;
    tbody {
      th, td {
        text-align: center;
      }
    }
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
  }
  .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #363636;
  }
}

.heading {
  text-align: center;
  color: azure;
  font-size: xx-large;
  font-weight: 500;
  padding-bottom: 2%;
}

.motto {
  color: darkolivegreen;
  font-size: $font-size--sm;
  font-weight: 500 !important;
}

.navbar {
  background-color: #333333;
  border: none !important;
  max-height: 70px;
  max-width: 100%;
}