<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="navbar-brand" style="display: inline-block;">
                <img src="images/angular.png" height="40" />
            </div>
            <div class="nav navbar-right">
                <h1>{{::home.title | ExampleFilter}}</h1>
            </div>
        </div>
    </div>
</nav>
<div class="grid-center">
    <div class="col-4_sm-12 grid-column" id="canvas">
        <div class="col-middle-2 grid-column" drag-it>
            <img
                ng-src="http://i.cdn.turner.com/nba/nba/.element/img/2.0/sect/statscube/players/large/{{home.findPosition('f').pName | imgFilter}}.png"
                alt="VACANT"
                class="img-circle" />
            <a href="#!" ng-click="home.removePlayer('f')">Forward</a>
        </div>
        <div class="col-middle-2 grid-column" drag-it>
            <img
                ng-src="http://i.cdn.turner.com/nba/nba/.element/img/2.0/sect/statscube/players/large/{{home.findPosition('cf').pName | imgFilter}}.png"
                alt="VACANT"
                class="img-circle" />
            <a href="#!" ng-click="home.removePlayer('cf')">Power Forward (C-F)</a>
        </div>
        <div class="col-middle-2 grid-column" drag-it>
            <img
                ng-src="http://i.cdn.turner.com/nba/nba/.element/img/2.0/sect/statscube/players/large/{{home.findPosition('c').pName | imgFilter}}.png"
                alt="VACANT"
                class="img-circle" />
            <a href="#!" ng-click="home.removePlayer('c')">Center</a>
        </div>
        <div class="col-middle-2 grid-column" drag-it>
            <img
                ng-src="http://i.cdn.turner.com/nba/nba/.element/img/2.0/sect/statscube/players/large/{{home.findPosition('g').pName | imgFilter}}.png"
                alt="VACANT"
                class="img-circle" />
            <a href="#!" ng-click="home.removePlayer('g')">Guard</a>
        </div>
        <div class="col-middle-2 grid-column" drag-it>
            <img
                ng-src="http://i.cdn.turner.com/nba/nba/.element/img/2.0/sect/statscube/players/large/{{home.findPosition('gf').pName | imgFilter}}.png"
                alt="VACANT"
                class="img-circle" />
            <a href="#!" ng-click="home.removePlayer('gf')">Point Guard (G-F)</a>
        </div>
    </div>
    <div class="col-3">
        <h1 class="heading"><i class="fa fa-users"></i></span> Player Roster</h1>
        <div class="grid">
            <div class="col-7">
                <input type="text" class="form-control" ng-model="query" placeholder="Search">
            </div>
            <div class="col-5">
                <select class="form-control" ng-model="orderProp">
                    <option value="" disabled selected hidden>Sort By...</option>
                    <option value="lastname">Name</option>
                    <option value="position">Position</option>
                </select>
            </div>
            <div id="verTable" class="col-10 mCustomScrollbar" push-left="off-1" data-mcs-theme="rounded-dots">
                <table class="table table-striped table-responsive">
                    <tbody>
                    <th>Jersey</th>
                    <th>Player</th>
                    <th>Position</th>
                    <tr ng-repeat="player in home.players | filter:query | orderBy:orderProp track by $index">
                        <td><span class="badge">{{player.jersey}}</span></td>
                        <td><a ng-click="home.placePlayer(player.firstname + ' ' + player.lastname, player.position)">{{player.firstname + ' ' + player.lastname}}</a></td>
                        <td><p class="motto">{{player.position}}</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
